<!-- <nav class="navbarsticky-top navbar-dark bg-dark h-100">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#">Client Data</a>
    </div>
</nav> -->
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <h1 style="color:aliceblue;">I<span class="text-danger">twine</span> Technology</h1>
        <div class="d-flex">
            <button routerLink="/home" class="addEmp">Home</button>
            <button routerLink="/dashboard" class="addEmp">Employee</button>
            <button routerLink="/client-dashboard" class="addEmp">Client</button>
            <button routerLink="" class="logoutBtn">LogOut</button>
        </div>
    </div>
</nav>  