.addEmp{
    background-image: linear-gradient(rgb(45, 182, 45), yellow);
    color: black;
    border-radius: 20px;
    height: 3em;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empTable{
    /* background-image: linear-gradient(red,pink); */
    justify-content: center;
    /* size: 1rem; */
    height: 5rem;
    padding-top: 10px;
    margin-bottom: auto;
    color: aliceblue;
    display: flex;
    position:relative;

}
.client-heading{
    text-align: center;
    font-style: italic;
    color:brown;
}
