<div class="container-fluid g-0"> 
  <app-header></app-header>
</div>

<!-- <button class="addEmp" (click)="clickAddClient()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" >
    Add Client
</button> -->
<div class="empTable">
  <button class="addEmp" (click)="clickAddClient()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" >
    Add Clients
  </button>
  <button class="addEmp" (click)="openPDF()">Download PDF</button>
</div>



<table class="table table-dark table-hover">
  <thead>
      <tr style="font-size:20px"> 
          <th scope="col">Client ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Projects</th>
          <th scope="col">Gender</th>
          <th scope="col">Email ID</th>
          <th scope="col">Mobile No.</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let row of clientData">
          <td>{{row.id}}</td>
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.date}}</td>
          <td>{{row.project}}</td>
          <td>{{row.gender}}</td>
          <td>{{row.email}}</td>
          <td>{{row.mobile}}</td>
          <td>{{row.address}}</td>

          <td>
              <svg (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen " viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/> 
              </svg>
              
              <svg (click)="deleteClient(row)" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-x mx-3" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
              </svg>
          </td>
      </tr>
  </tbody>
</table>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Client Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="clientForm" class="needs-validation">
            <div class="row mt-1">
              <div class="col">
                  <label for="validationCustom02" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="validationCustom02" aria-describedby="emailHelp">
                  <span class="text-danger" *ngIf="clientForm.controls['firstName'].dirty && clientForm.hasError('required','firstName')">*First name is required</span>
                </div>
            
              <div class="col">
                  <label for="validationCustom03" class="form-label">Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control" id="validationCustom03" >
                  <span class="text-danger" *ngIf="clientForm.controls['lastName'].dirty && clientForm.hasError('required','lastName')">*Last name is required</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <label for="datepicker" class="form-label">Date of Birth</label>
                <input type="date" formControlName="date" class="form-control" id="datepicker">
                <span class="text-danger" *ngIf="clientForm.controls['date'].dirty && clientForm.hasError('required','date')">*Date is required</span>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="gender">Gender:</label>
                  <div class="d-flex ">
                    <div class="form-check m-2">
                      <input id="male" type="radio" value="male" name="gender" formControlName="gender">
                      <label for="male">Male</label>
                    </div>
         
                    <div class="form-check m-2">
                      <input id="female" type="radio" value="female" name="gender" formControlName="gender">
                      <label for="female">Female</label>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <!-- <div class="row mt-3">
              <div class="col">
                <label class="form-label" for="profile">Profile</label>
                <input type="file" class="form-control" id="profile" #fileInput>
              </div>
            </div> -->

            <!-- <div class="row mt-3">
              <div class="col">
                <img [src]="url" title="profile picture" height="150px" width="150px" alt="image">
                <input type="file" id="img" style="display: none;" (change)="onSelect($event)" />
                <label for="img">Upload Image</label>
              </div>
            </div> -->
            <div class="row mt-3">
              <div class="col">
              <label for="inputProject" class="form-label">Projects</label>
              <select formControlName="project" id="inputProject" class="form-select">
                <option selected>Choose...</option>
                <option>BIR</option>
                <option>PIR</option>
                <option>Tripesa</option>
                <option>FOB Madras Online</option>
                <option>FOB Madras Teller</option>
                <option>FOB Mysore Teller</option>

              </select>
              </div>
            </div>


            <div class="row mt-3">
              <div class="col">
                <label for="validationCustom04" class="form-label">Email_ID</label>
                <input type="email" formControlName="email" class="form-control" id="validationCustom04">
                <!-- <span class="text-danger" *ngIf="clientForm.controls['email'].dirty && clientForm.hasError('required','email')">*Email is required</span> -->
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <label for="validationCustom05" class="form-label">Mobile No.</label>
                <input type="text" formControlName="mobile" class="form-control" id="validationCustom05">
                <span class="text-danger" *ngIf="clientForm.controls['mobile'].dirty && clientForm.hasError('required','mobile')">*Mobile no is required</span>
              </div>
              <div class="col">
                <label for="validationCustom06" class="form-label">Address</label>
                <input type="text" formControlName="address" class="form-control" id="validatioCustom06">
                <span class="text-danger" *ngIf="clientForm.controls['address'].dirty && clientForm.hasError('required','address')">*Mobile no is required</span>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postClientDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateClientDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

<!-- footer -->
<app-footer></app-footer>
