<!-- <div class="container-fluid g-0"> 
    <app-header></app-header>

    Main Content
    <main>
        <div class="toolbar">
            <div class="add-employee">
                <button type="button" class="btn btn-outline-success btn-lg">Add Client</button>
            </div>
            <div class="search-employees">
                <input type="search" class="form-control" placeholder="Search Employee">
            </div>
        </div>
        <div class="employees">
            <div class="row mt-5">
                <div class="col text-center">
                    <span class="text-secondary fs-2 fw-bold fst-italic">There are No Client Added!</span>
                </div>
            </div>
        </div>
    </main> 
</div> -->
<router-outlet></router-outlet>