.card{
    /* border: none; */
    width: 500px;
    padding: 40px;
    position: absolute;
    top:  50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    background: hsla(hue, saturation, lightness, alpha);
    background: linear-gradient(90deg);
    border-radius: 35px 35px 35px;
    /* background-color: aquamarine;   */
    background-image: linear-gradient(rgb(185, 57, 57), yellow, rgb(72, 192, 72), rgb(206, 98, 116));
}
.signupBtn{
    background-image: linear-gradient(rgb(45, 182, 45), yellow);
    color: black;
    border-radius: 20px;
    height: 3em;
    margin: 5px;
}
