<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" color="purple" width="56" height="56" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <h1>Sign-Up</h1>
                    <h6>Register Yourself !!</h6>
                </div>

                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="row mt-3">
                        <div class="col">
                            <label for="validationCustom01" class="form-label">Full Name</label>
                            <input formControlName="fullname" type="text" class="form-control" id="validationCustom01" required>
                            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">*Full Name is required</span>
                        </div>
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                            <input formControlName="mobile"  type="text" class="form-control" id="exampleInputPassword1" required>
                            <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">*Mobile no is required</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                            <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email Id is required</span>
                        </div>
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" required>
                            <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password is required</span>     
                        </div>
                    </div>
 
                    <div class="col-md-12 mt-3 mb-3 text-center">
                        <button type="submit" [disabled]="!signupForm.valid" class="signupBtn">Sign-Up</button>
                    </div>
                </form>
                <div class="col-md-12 mb-3 text-center">
                    <a routerLink="">Already registered? Click to Sign-In</a>
                </div>
            </div>
        </div>
    </div>
</div>